# workflow name
name: kk-admin

# master branch on push, auto run
on:
  workflow_dispatch:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      # check it to your workflow can access it
      # from: https://github.com/actions/checkout
      - name: 1. 检查master分支
        uses: actions/checkout@master

      # from: https://github.com/actions/setup-node
      - name: 2. 设置Node.js
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node-version }}

      - name: 3. 缓存
        uses: actions/cache@v2
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{runner.OS}}-${{hashFiles('**/yarn.lock')}}

      - name: 4. 安装插件
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          yarn install

      - name: 5. 生成页面并压缩
        env:
          TZ: Asia/Shanghai
          VITE_GLOB_API_URL: ${{ secrets.VITE_GLOB_API_URL }}
          VITE_GLOB_UPLOAD_URL: ${{ secrets.VITE_GLOB_UPLOAD_URL }}
          VITE_GLOB_UPLOAD_TOKEN: ${{ secrets.VITE_GLOB_UPLOAD_TOKEN }}
          VITE_GLOB_APP_TITLE: ${{ secrets.VITE_GLOB_APP_TITLE }}
        run: |
          yarn run build

      - name: 6. 推送到vercel分支
        uses: peaceiris/actions-gh-pages@v3.9.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: vercel
          publish_dir: ./dist
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          full_commit_message: ${{ github.event.head_commit.message }}
